@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }

    .scroll-snap-align-center {
        scroll-snap-align: center;
    }

    .scrollbar-none {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }
}